<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://central-conf-dev.bjcnc.scs.sohucs.com/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
    <title>中央配置系统--用户组</title>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">中央配置系统</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">配置</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects/">项目</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/groups/">用户组<span class="sr-only">(current)</span></a>
      </li>
<!--       <li class="nav-item">
        <a class="nav-link" href="/users">用户</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link disabled" href="#">统计</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="GET" action="/">
      <input class="form-control mr-sm-2" type="text" name="conf" value="" placeholder="配置名称">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
    <span class="navbar-text">
      &nbsp;&nbsp;&nbsp;
    </span>
    <div class="dropdown">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ${nickname}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/users/${uid}">详情</a>
        <a class="dropdown-item" href="/${uid}/logout">退出</a>
      </div>
</nav>
</div>

 <div>&nbsp;</div>
<div><button type="button" class="btn btn-outline-primary"><a href="/group">新建组</a></button></div>
<div>&nbsp;</div>
<table class="table table-striped">
    <thead>
    <tr>
    <th>ID</th>
    <th>名称</th>
    <th>缩略名</th>
    <th>备注</th>
    <th>更新时间</th>
    <th>创建时间</th>
    </tr>
    </thead>

    % for index, item in enumerate(g_details):
        % if index % 2 == 0:
            <tfoot>
        % else:
            <tbody>
        %endif

        <tr>
        % for i, group in enumerate(item):
            % if i == 0:
                <th><a href="/groups/${group}">${group}</a></th>
            % else:
                <th>${group}</th>
            %endif
        % endfor
        </tr>

        % if index % 2 == 0:
            <tfoot>
        % else:
            <tbody>
        %endif
    % endfor

</table>
</body>
<script src="http://central-conf-dev.bjcnc.scs.sohucs.com/bootstrap/js/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="http://central-conf-dev.bjcnc.scs.sohucs.com/bootstrap/js/tether.min.js" crossorigin="anonymous"></script>
<script src="http://central-conf-dev.bjcnc.scs.sohucs.com/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script>
    // Initialize tooltip component
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

    // Initialize popover component
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    </script> 
</html>