<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://central-conf-dev.bjcnc.scs.sohucs.com/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
    <title>中央配置系统--新用户密码设置</title>
</head>
<body>
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col">&nbsp;</div>
            <div class="col">
                <form method="POST" action="/${uid}/password">
                    <div class="form-group row">
                       <p style="display: none;">${l_flag}</p>
                        % if l_flag is True:
                            <div class="form-group row">
                                <p style="color: red;"> 链接过期或者错误！</p>
                            </div>
                        % endif
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">用户名：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="${email}" readonly=""><br/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">昵称：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="nickname" id="nickname" placeholder="Nickname"><br/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">密码：</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">再一次：</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="repassword" id="repassword" placeholder="Password">
                        </div>
                    </div>
                        <p style="display: none;">${p_flag}</p>
                        % if p_flag is True:
                            <div class="form-group row">
                                <p style="color: red;"> 两次密码不一致！</p>
                            </div>
                        % endif
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input class="btn btn-outline-warning" type="reset">
                            <button class="btn btn-outline-primary" type="submit">确定</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
<script src="http://central-conf-dev.bjcnc.scs.sohucs.com/bootstrap/js/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="http://central-conf-dev.bjcnc.scs.sohucs.com/bootstrap/js/tether.min.js" crossorigin="anonymous"></script>
<script src="http://central-conf-dev.bjcnc.scs.sohucs.com/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
</html>